body{
    padding:0;
}

/*header */
header {
    display:flex;
    justify-content:space-between;
    padding:6px 12px;
    align-items: center;
    background-color:black;
}
#logo{
    display:flex;
    align-items: center;
}
a{
    text-decoration:none;
}
#logo a{
    color:white;
}


#logo i{
    font-size:24px;
    padding-right:7px;
    color:red;
}
#icon{
    display:flex;
    list-style:none;
    margin:0;
    padding-left:0;
}
#icon li{
    padding:5px;
    color:white;
}

/*content*/
#description{
    display:flex;
    flex-direction: column;
}

#hashtag{
    padding:4px 12px;
}
#hashtag a{
    color:#2e78d8;
}

#detail{
    display:flex;
    padding:4px 12px;
}
#detail #title{
    padding-right:10%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;
}
#detail i{
    font-size:24px;
}
#upBtn{
    display:none;
}
#view{
    padding:4px 12px;
    color:gray;
    font-size:12px;
}
#icons{
    list-style:none;
    font-size:24px;
    padding:13px 0;
    margin:0px;
    display:flex;
    align-items: center;
    color:gray;
    justify-content: space-around;
}


#icons div{
    font-size:12px;
   padding-top:6px;
}

#middle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:5px 12px;
}
#info{
    display:flex;
    align-items: center;
}
#info img{
    border: 0px;
    border-radius:70px;
    width:10vh;
    height:10vh;
}
#info #sub_num{
    font-size:12px;
    color:gray;
}

#middle #text{
    padding-left:15px;
}

#upnext{
    padding:6px 12px;
}
#video1{
    display: flex;
    padding-top: 15px;
}
#video1 img{
    width:40%;
    height:30%;
    padding-right: 6px;
}

#video1 #text{
    padding:0 5px;
    display:flex;
    flex-direction: column;
}
#text #title{
    padding:4px 0;
}

#text #uploader{
    padding:4px 0;
    font-size:13px;
    color:gray;
}

#text #view2{
    padding:4px 0;
    font-size:12px;
    color:gray;
}

#video1 #list{
    padding:0 5px;
}

/*반응형 브라우저 크기가 커졌을 때*/
@media screen and (min-width:768px){
    contents{
        display:flex;
        flex-direction: row;
    }
   
}